.App {
  text-align: left;
  background-color: white;

}

input[type="submit"] {
  background-color: rgb(81, 255, 0);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.resultPage {
  display: inline;
  align-content: center;
  list-style-type: none;
}

nav img{
  width: 253px;
  height: 80px;
}

.mission {
  width: 40%;
}

input{
  box-sizing: border-box;
  width: 50%;
  border-radius: 10px;
}

button{
 background-color: black;
 color: white;

}

a {
  text-decoration: none;
  cursor: pointer;
  color: Black;
  margin-right: 10px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: black;
}

.terms{
  text-align: left;
}



