.wrapper {
  text-align: left;
  background-color: white;
  padding: 20px;
  margin: 0px;
}

.nav{
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  /* align-items: left; */
  min-height: 5vh;
  background-color: white;
}

nav img{
  width: 147px;
  height: 60px;
}

.mission {
  width: 80%;
  height: fit-content;
  margin: 0;
  padding: 0;
  /* display: inline-block; */
  text-align: center;
}

.Input form input {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 35px;
  margin: 40px;
  padding: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin: 0px;
}

.SingleTerm h2{
  text-decoration: underline;
  text-decoration-color: black;
  margin: 0;
  margin-bottom: 5px;
  padding-top: 50px;

}

.Terms h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.resultPage {
  display: inline;
  align-content: center;
  list-style-type: none;
}

.Terms p{
  line-height: 1.4em;
  margin: 0px;
  padding-bottom: 50px;
}

.SingleTerm li{
  list-style-type: none;
  padding-bottom: 10px;
}

.SingleTerm p{
  margin-top: 0px;
}

.container {
  /* box-shadow: 1px 1.5px 5px 0.5px black; */
  /* padding: 15px 20px; */
  /* border: 2px solid black; */
  /* height: 100%; */
  /* width: 100%; */
}


/* .AddTerm form {
  align-items: center;
  display: flex;
  flex-direction: column;
  resize: none;
} */

/* h2 {
  text-decoration-color: black;
} */
/* .Terms h2 p {
  line-height: 10px;
} *

/* .update {
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
} */

/* .resources {
  text-align: left;
} */

/* .href{
  text-decoration-color: black;
} */

/* .icon {
  position: relative;
  width: 80px;
  display: flex;
  align-items: center;
  color: black;
  background: blue;
  cursor: pointer;
  border-radius: 24px;
} */

/* .modal-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

/* .form-box {
  margin-top: 7vh;
  opacity: 80%;
  background-color: rgb(236, 15, 15);
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
} */

/* .submit-btn {
  width: 75%;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 172, 251);
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
} */
/* .login-box {
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  outline: none;
  float: left;
} */

/* .modal-box {
  width: 100%;
  color: white;
  border-bottom: 2px solid white;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
} */

/* label {
  color: white;
  width: 100%;
  text-align: center;
} */


/* .show {
  display: block;
  transition: 800ms;
  opacity: 1;
}
.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
} */


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #ebe1e1;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; */
/* } */

/* .page{
  text-align: justify;
} */
/* .Input{ */
/* width:100px;
  /* box-sizing: border-box; */
/* border: 2px solid #ccc; */
/* border-radius: 16px;
  background-color:white;   */
/* background-image: url("searchicon.png"); */
/* background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out; */
/* }  */



/* nav li {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: solid;
  font-family: sans-serif;
}



nav li {
  word-spacing: 50px;
  padding: 20px;
  background-image: linear-gradient(to right, #cc33ff, #ff0066);

  letter-spacing: 2px;
}
nav li :hover {
  opacity: 0.5;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .open-btn{
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  height: 40px;
  left: 85%;
  top: 10px;
  background:#2bc6ff;
  border-radius: 24px;
  cursor: pointer;
} */

